.ac-result {
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
}

.ac-result.severe, .ac-link.severe img {
  border-color: #994141;
}

.ac-result.moderate, .ac-link.moderate img {
  border-color: #2e71a0;
}

.ac-result.suggestion, .ac-link.suggestion img {
  border-color: #36af60;
}

#ac-toggle {
  position: fixed;
  bottom: 0px;
  left: 20px;
  font-size: 14px;
  background: #3A5D67;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

#ac-toggle a {
  color: #fff;
  text-decoration: none;
}

#ac-toggle a:hover {
  text-decoration: underline;
}

.ac-hint {
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 14px;
  background: #fff;
  color: #000;
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding: 10px;
  border-radius: 5px 0 0 0;
}

.ac-hint .close {
  display: absolute;
  top: 10px;
  float: right;
  right: 10px;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  font-size: 18px;
}